<mat-form-field class="no-padding-horizontal">
  <div class="flex">
    <input
      matInput
           [(ngModel)]="_value"
           [value]="_value"
           (change)="addEvent()"
           placeholder="{{placeholder}}"
           [errorStateMatcher]="matcher"
           [type]="isPassword ? 'password' : 'text'"
    >
    <i class="material-icons icon-small grey pointer margin-left" (click)="showPassword($event)">{{ isPassword ? 'visibility_off' : 'visibility' }}</i>
  </div>
</mat-form-field>
