<div class="reset-password-wrapper background-white" *ngIf="!isError">
  <div class="header" *ngIf="!isSentRequest">
    <h2 class="header-title position-center">
      Reset your password
    </h2>
  </div>
  <form *ngIf="!isSentRequest" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="reset-password-form flex-center padding">

    <app-password-input formControlName="password" placeholder="New password"></app-password-input>
    <button type="submit" class="login-form__submit-button round-button submit-btn">
      Send
    </button>
  </form>
  <div *ngIf="isSentRequest" class="flex-center full-height">
    <h2 class="center header-title margin-bottom">Your password was changed successfully</h2>
    <button type="button" class="round-button width-300" (click)="back()">
      Back
    </button>
  </div>
</div>
<app-loading [loading]="loading$ | async"></app-loading>
<app-error-wrapper [isError]="isError" title="Error with verifying" description="Your token wasn't verified successfully" [back]="false"></app-error-wrapper>
