<div class="forgot-password-wrapper background-white">
  <div class="header">
    <h2 class="header-title position-center">
      Forgot your password?
    </h2>
  </div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="login()" class="forgot-password-form flex-center padding">

    <mat-form-field class="no-padding-horizontal">
      <div class="flex">
        <input matInput type="email" placeholder="Email" formControlName="email">
      </div>
    </mat-form-field>
    <mat-error *ngIf="forgotPasswordForm.controls['email']?.errors?.required && forgotPasswordForm.controls['email'].touched">
      Email is required
    </mat-error>
    <mat-error *ngIf="forgotPasswordForm.controls['email']?.errors?.email && forgotPasswordForm.controls['email'].touched">
      Email is not valid
    </mat-error>
    <button type="submit" class="login-form__submit-button round-button submit-btn">
      Send
    </button>
  </form>
</div>
<app-loading [loading]="loading$ | async" [isGlobal]="true"></app-loading>
