<div class="flex-center-column flex-stretch background-grey-3">
  <app-content-layout class="border-bottom background-grey-3 flex flex-justify-center">
    <div class="login-wrapper background-white">
    <div class="header">
      <h2 class="header-title position-center">
        Login page
      </h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form flex-center padding">

      <mat-form-field class="no-padding-horizontal">
        <div class="flex">
        <input matInput type="email" placeholder="Email"
               formControlName="email">
        </div>
      </mat-form-field>
      <mat-error *ngIf="loginForm.controls['email']?.errors?.required && loginForm.controls['email'].touched">
        Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.controls['email']?.errors?.email && loginForm.controls['email'].touched">
        Email is not valid
      </mat-error>

      <mat-form-field class="no-padding-horizontal">
        <div class="flex">
          <input matInput placeholder="Password"
                 [type]="isPassword ? 'password' : 'text'" formControlName="password">
          <i class="material-icons icon-small grey pointer margin-left" (click)="showPassword($event)">{{ isPassword ? 'visibility_off' : 'visibility' }}</i>
        </div>
      </mat-form-field>
      <mat-error *ngIf="loginForm.controls['password']?.errors?.required && loginForm.controls['password'].touched">
        Passowrd is required
      </mat-error>
      <button type="submit" class="login-form__submit-button round-button submit-btn">
        Log in
      </button>
    </form>
    </div>
  </app-content-layout>

</div>
<app-loading [loading]="loading$ | async" [isGlobal]="true"></app-loading>
